<!-- <% if @posts.length > 0 %>
<div class="col-md-12">

  <h2 class="text-center"> 我发表过的文章 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> Title </th>
        <th> Group Name </th>
        <th> Last Update </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td> <%= link_to(post.title, group_post_path(post.group, post)) %> </td>
          <td> <%= post.group.title %> </td>
          <td> <%= post.updated_at %> </td>
          <td> <%= link_to('Edit', edit_group_post_path(post.group, post), class: "btn btn-default btn-xs") %> |
          <%= link_to('Delete', group_post_path(post.group, post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="col-md-12 job-limit-box text-center">
  <h2 style="border-color: white;">你还没发布任何文章哦！</h2><br />
  <p><%= link_to("立即发布文章", groups_path, class: "btn btn-lg btn-success") %></p>
</div>
<% end %> -->
<div id="mypost">
<h1><span class="fa fa-file col-md-8 col-md-offset-2"> <strong>我发布的文章</strong></span> </h1>
</div>
<div class="row col-md-10 col-md-offset-1" style="margin-top:20px;">
  <% if @posts.length > 0 %>
  <% @posts.each do |post| %>
  <div class="col-md-10 col-md-offset-1">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= link_to(post.title, group_post_path(post.group, post)) %></h3>
        <p>
          作者：<span class="author"><%= post.user.username %></span>
          时间：<span class="time"><%= post.created_at.strftime('%Y-%m-%d %H:%M:%S')%></span>
        </p>
        <p><%= truncate(strip_tags(raw(post.content)),:length=>60) %></p>
        <p>
          <a href="#" class="heart icon"> <i class="fa fa-eye"></i>
            <span class="badge"><%= "#{post.impressionist_count(:filter=>:session_hash)}" %></span>
          </a>
          <a href="#" class="apple icon"> <i class="fa fa-thumbs-up"></i>
            <span class="badge"><%= post.voters.count %></span>
          </a>
          <a href="#" class="star icon"> <i class="fa fa-heart"></i>
            <span class="badge"><%= post.comments.count %></span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <% end %>
  <% else %>
      <div class="col-md-8 col-md-offset-2 no-job-data">
        <h2 style="border-color:white">你还没有发布文章哦。</h2>
      </div>
  <% end %>
  </div>

  <!--=== 分页区块 ===-->
  <div class="col-md-10 col-md-offset-1 job-bottom">
    <div class="text-center">
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
