<div id="myjob">
<% if @resumes.length > 0 %>
  <div class="col-md-8 col-md-offset-2 page-title">
    <h1><span class="fa fa-envelope-o"></span> 投递过的职位</h1>
  </div>
  <div class="col-md-8 col-md-offset-2 job-content">
    <div class="main-box">
    <% @resumes.each do |resume| %>
    <div class="col-md-12 col-xs-12 job-box">
      <!--=== 职位信息 ===-->
      <div class="col-md-6 col-xs-12 info">
        <div class="info-top">
          <h3><%= link_to(resume.job.title, job_path(resume.job), target: "_blank" )%></h3>
          <% if resume.job.is_hidden %>
            <span>（职位已下线）</span>
          <% else %>
            <span><%= resume.job.created_at.strftime("%Y-%m-%d") %></span>
          <% end %>
        </div>
        <div class="info-mid">
          <%= resume.job.wage_lower_bound %>  ~ <%= resume.job.wage_upper_bound %>
        </div>
        <div class="info-bot">
          <span class="category"><span class="<%= resume.job.category.icon %>"> <%= resume.job.category.name %></span>
        </div>
      </div>

      <!--=== 公司信息 ===-->
      <div class="col-md-6 col-xs-12 company">
        <div class="company-top">
          <span><%= resume.job.company %></span>
          <% if current_user && current_user.is_favorite_of?(resume.job) %>
            <%= link_to unfavorite_job_path(resume.job), method: :post do %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <%= link_to favorites_job_path(resume.job), method: :post do %>
              <i class="fa fa-star-o" aria-hidden="true"></i>
            <% end %>
          <% end %>
        </div>
        <div class="company-mid">
          <span class="fa fa-envelope"></span><span><%= resume.job.contact_email %></span>
        </div>
        <div class="company-bot">
          <span class="fa fa-map-marker"></span><span><%= resume.job.location.name %></span>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
<% else %>
  <div class="col-md-12 job-limit-box text-center">
    <h2 style="border-color: white;">你还没投递过任何职位哦！</h2><br />
    <p><%= link_to("立即查看工作", jobs_path, class: "btn btn-lg btn-success") %></p>
  </div>
<% end %>
</div>

<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @resumes, renderer: BootstrapPagination::Rails %>
  </div>
</div>
