<!-- <% if @groups.length > 0 %>
<div class="col-md-12">

  <h2 class="text-center"> 我加入的讨论版 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> Title </th>
        <th> Description </th>
        <th> Post Count </th>
        <th> Last Update </th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(group.title, group_path(group)) %> </td>
          <td><%= render_group_description(group) %></td>
          <td> <%= group.posts.count %> </td>
          <td> <%= group.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<div class="col-md-12 job-limit-box text-center">
  <h2 style="border-color: white;">你还没加入任何讨论板块哦！</h2><br />
  <p><%= link_to("立即加入讨论版块", groups_path, class: "btn btn-lg btn-success") %></p>
</div>
<% end %>

<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  </div>
</div> -->

<div id="mygroup">
  <h1><span class="fa fa-globe col-md-8 col-md-offset-2"> <strong>我加入的讨论板块</strong></span> </h1>
  <div class="container">
    <div class="row">
    <% if @groups.length > 0 %>
    <% @groups.each do |group| %>
      <div class="groups-list col-md-8 col-md-offset-2">
        <div class="media">
        <div class='box1'>
            <a class="pull-left"><%= link_to image_tag(group.avatar.url(:big)), group_path(group), :target => "_blank" %></a>
        </div>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to(group.title, group_path(group)) %></h4>
            <%= render_group_description(group) %>
          </div>
          <div class="icon">
            <a class="heart icon" style="color:orange;font-size:20px;margin-right:10px"> <i class="fa fa-user-circle"></i> <span style="font-size:15px;color:#999"><%= group.group_relationships.count %></span></a>
            <a class="star icon" style="color:orange;font-size:18px;"> <i class="fa fa-file"></i> <span style="font-size:15px;color:#999"><%= group.posts.count %></span></a>
          </div>
        </div>
        </div>
    <% end %>
    <% else %>
    <div class="col-md-8 col-md-offset-2 no-job-data">
      <h2 style="border-color:white">你还没有加入任何讨论版块哦。</h2>
      <p><%= link_to("立即加入", groups_path, class: "btn btn-lg btn-success") %></p>
    </div>
    <% end %>

  </div>
  </div>
</div>
<div class="col-md-10 col-md-offset-1 job-bottom">
  <div class="text-center">
    <%= will_paginate @groups, renderer: BootstrapPagination::Rails %>
  </div>
</div>
