<div class="col-md-8 col-md-offset-2 admin-box">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="6" class="title-box">
              <div class="title"><h2><span class="fa fa-location-arrow"></span> 职位类型</h2></div>
              <div class="button"><%= link_to("新增职位类型", new_admin_category_path, class: "btn btn-primary pull-right") %></div>
            </td>
          </tr>
        </thead>
        <tbody>
          <% i = 1 %>
          <% @categorys.each do |category| %>
          <% if i%2 == 1%>
          <tr>
          <% end %>
            <td class="name-box"><span class="<%= category.icon %>"></span> <%= category.name %></td>
            <td>
              <!--=== 修改/删除 ===-->
              <div>
              <%= link_to(edit_admin_category_path(category), class: "btn btn-md btn-default") do %>
                <span class="fa fa-pencil"></span>
              <% end %>
              <%= link_to(admin_category_path(category),  class: "btn btn-md btn-default", :method => :delete, :data => { :confirm => "Are you sure?" }) do %>
                <span class="fa fa-trash"></span>
              <% end %>
              </div>
            </td>
          <% if i%2 == 0%>
          </tr>
          <% end %>
          <% i += 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
