<div class="post-container">
  <h1> <%= @post.title %> </h1>
  <span style="font-size:15px;color:gray;"><%= @post.created_at.strftime('%Y-%m-%d %H:%M:%S')%></span>
  <span style="font-size:15px;margin-left:15px">作者：</span><a style="font_size:13px"><%= @post.user.username %></a>
  <p>
    <div class="markdown">
      <%= markdown(@post.content) %>
    </div>
  </p>
  <span style="position: absolute;bottom: 20px;left: 48%">
    <% if current_user && @post.find_vote(current_user) %>
      <%= link_to("", downvote_post_path(@post), method: :post, class: "fa fa-thumbs-up fa-3x", style: "color:red;") %>
     <% else %>
      <%= link_to("", upvote_post_path(@post), method: :post, class: "fa fa-thumbs-up fa-3x", style: "color:grey;") %>
    <% end %>
  </span>
</div>

<section class="section comments">
    <div class="container">
        <h2 class="subtitle is-5" style="text-align:center"><strong><%= @post.comments.count %></strong> 条留言</h2>
        <%= render @post.comments %>
        <div class="comment-form">
          <br>
            <h3 class="subtitle is-3" style="text-align:center">发表留言</h3>
            <%= render 'comments/from' %>
        </div>
    </div>
</section>
<!--
<h1> <%= @post.title %> </h1>

<p>
  <%= simple_format(@post.content) %>
</p> -->
