<!DOCTYPE html>
<!-- ===管理员界面=== -->
<html>
    <head>
        <title>Job Listing </title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <script>
      window.setTimeout(function(){
      $('[data-dismiss="alert"]').alert('close');
    },1000);
    </script>
    <body>

        <div class="container-fluid">
            <div class="row">
              <%= render "common/navbar" %>
            </div>
            <%= render "common/flashes" %>
            <div class="row">
              <div class="col-md-2">
                  <!-- ===管理面板左侧导航=== -->
                   <ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
                     <li class="active"><%= link_to("工作列表", admin_jobs_path ) %> </li>
                     <li class="active"><%= link_to("职位类别", admin_categories_path ) %> </li>
                     <li class="active"><%= link_to("工作地点", admin_locations_path ) %> </li>
                   </ul>
              </div>

              <div class="col-md-10">
                <div class="main">
                  <%= yield %>
                </div>
              </div>
           </div>
        </div>

        <%= render "common/footer" %>

    </body>
</html>
